@import '~antd/lib/style/themes/default.less';
.ant-alert-close-icon {
    //background: red;
}
.spec {
    margin:10px 0;
}
.spec_title{
    margin-bottom: 10px;
}
.itemInput{
    background:#eee;
    border:none;
}